.contacts {
  padding-bottom: 50px;

  h2 {
    @include font-size (1.88em, 1.88em, 600);
    color: $basic-dark;
    text-align: center;
    margin: 0;
    margin-bottom: clamp(10px, 5vh, 30px);

    @include below ($tablet-width) {
      @include font-size (1.5em, 1.7, 600);
    }
  }

  p {
    @include font-size (1.06em, 1.82em, 400);
    color: $primary-text-color;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2.35em;
    width: 555px;

    @include below ($tablet-width) {
      width: 100%;
    }
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  iframe {
    border: 0;
  }
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.contacts__item {
  position: relative;
  padding-left: 20px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
  }

  &--mail::before {
    width: 26px;
    height: 20px;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    width: 22px;
    height: 26px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }

  @include below ($mobile-width) {
    margin-bottom: 20px;
  }

  a {
    @include font-size (1em, 1.31, 400);
    color: $basic-black-50;

    &:hover {
      color: $accent-color;
    }

    &:focus {
      opacity: 0.8;
    }
  }
}
