.form {
  @include below($tablet-width) {
    margin: 0 auto;
    max-width: 320px;
  }

  h3 {
    @include font-size (1.06em, 1.64, 600);
    margin: 0;
    text-align: center;
    color: $basic-white;
    margin-bottom: 1.25em;

    @include below($tablet-width) {
      color: $basic-black;
    }
  }
}

.form__list {
  @include list-reset;
}

.form__item {
  position: relative;
  margin-bottom: 1.25em;

  input[type="text"],
  input[type="tel"] {
    padding: 0.88em 1.88em;
    color: $basic-black200;
    background-color: $basic-grey100;
    border: 1px solid $basic-grey100;
    border-radius: 6px;
    width: 100%;
    transition: all 0.25s;

    &:focus + label {
      opacity: 0;
    }

    &:valid {
      border: 2px solid $accent-color;
      background-color: $basic-white;
    }

    &:valid + label {
      opacity: 0;
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
      border: 2px solid $invalid-color;
    }

    &:invalid:not(:focus):not(:placeholder-shown) + label {
      opacity: 0;
    }

    &:invalid:focus:not(:placeholder-shown) ~ .form__requirements {
      max-height: 200px;
      padding: 10px 30px;
    }
  }

  .form__requirements {
    @include font-size (0.94em, 1.6em, 400);
    padding: 0 30px 0 50px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: $invalid-color;
  }

  label {
    @include font-size (0.94em, 1.6em, 400);
    opacity: 0.5;
    position: absolute;
    top: 10px;
    left: 30px;
  }
}
