.main-nav {
  position: relative;
  width: 100%;
  min-height: 51px;
}

.main-nav--closed {
  @include below ($tablet-width) {
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 15px;
      width: 22px;
      height: 1px;
      background-color: $basic-black;
      box-shadow: 0 5px 0 0 $basic-black, 0 10px 0 0 $basic-black;
    }

    .main-nav__wrapper {
      display: none;
    }
  }
}

.main-nav--opened {
  @include below ($tablet-width) {
    .main-nav__toggle::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 15px;
      width: 22px;
      height: 1px;
      background-color: $basic-black-20;
      transform: rotate(45deg);
      box-shadow: none;
    }

    .main-nav__toggle::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 15px;
      width: 22px;
      height: 1px;
      background-color: $basic-black-20;
      transform: rotate(-45deg);
      box-shadow: none;
    }

    &:active::before,
    &:active::after {
      background-color: fade($basic-black-20, 30%);
    }
  }

  .main-nav__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: $basic-white;
    transition: transform ease-in-out 0.3s;
  }
}

.main-nav__toggle {
  display: none;

  @include below ($tablet-width) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    cursor: pointer;
    border: none;

    &:hover,
    &:active {
      background-color: fade($accent-color, 10%);
    }
  }
}

.main-nav--nojs {
  @include below ($tablet-width) {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      display: inherit;
      background-color: $basic-white;
    }

    .main-nav__list {
      margin-top: 0;
      flex-direction: row;
    }
  }

  @include below ($mobile-width) {
    .main-nav__wrapper {
      position: absolute;
    }
  }
}

.main-nav__list {
  @include list-reset;
}
