.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  font-size: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: $primary-text-color;
  background-color: $basic-white;
  font-family: $primary-text;
}
