.page-header {
  z-index: -1;
  background-color: #171717;
}

.page-header__wrapper {
  padding-top: 1em;
  border-bottom: 1px solid $basic-grey;
  max-width: 980px;
  padding-right: 25px;
  padding-left: 25px;

  @include below ($tablet-width) {
    display: grid;
    grid-template-columns: minmax(40px, 100px) 1fr;
    width: auto;
    border-bottom: none;
    padding: 0;
  }
}

.page-header__logo {
  display: none;

  @include below ($tablet-width) {
    display: block;
    text-align: center;
    padding-top: 1em;
  }
}
