.page-header {
  z-index: -1;
  margin-bottom: 300px;

  @include below ($tablet-width) {
    margin-bottom: clamp(30px, 20vw, 130px);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    background-image: url("../img/bike-desktop-bg@1x.jpg");
    background-size: cover, 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;

    @include below ($tablet-width) {
      min-width: 320px;
      min-height: 50vh;
    }
  }

  @include retina () {
    background-image: url("../img/bike-desktop-bg@2x.jpg");
  }
}

.page-header__wrapper {
  padding-top: 1em;
  border-bottom: 1px solid grey;
  max-width: 980px;
  padding-right: 25px;
  padding-left: 25px;

  @include below ($tablet-width) {
    display: grid;
    grid-template-columns: minmax(40px, 100px) 1fr;
    width: auto;
    border-bottom: none;
    padding: 0;

  }
}

.page-header__logo {
  display: none;

  @include below ($tablet-width) {
    display: block;
    text-align: center;
    padding-top: 1em;
  }
}
