.site-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include below ($tablet-width) {
    margin-top: 6.25em;
    flex-direction: column;
    align-items: initial;
  }
}

.site-list__item {
  position: relative;
}

.site-list__link {
  color: $basic-white;
  @include font-size(1em, 1.5, 300);
  opacity: 0.7;
  padding-bottom: 28px;

  &:hover {
    border-bottom: 2px solid $accent-color;
    transition: all 0.1s ease;
  }

  &:focus {
    color: $accent-color;
  }

  @include below($tablet-width) {
    @include font-size(1.25em, 1.5, 400);
    display: block;
    color: $basic-black100;
    padding: 1em;
    background-color: $basic-grey;
    margin-bottom: 1.875em;
    opacity: 100;

    &:hover {
      border: none;
    }

    &:focus {
      color: $accent-color;
    }

    &::before {
      content: "";
      position: absolute;
      left: 70%;
      transform: translateX(-50%);
      width: 25px;
      height: 25px;
      background-image: url("../img/arrow_down.svg");
    }
  }
}
