.types {
  margin-bottom: 140px;

  h2 {
    @include font-size (1.875em, 1.875em, 600);
    color: $basic-dark;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;

    @include below ($tablet-width) {
      @include font-size (1.5em, 1.7, 600);
    }
  }
}

.types__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include below ($tablet-width) {
    align-items: center;
  }
}

.types__item {
  position: relative;
  flex: 0 1 auto;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;

  }

  &:nth-child(2n) {
    margin-top: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      background-image: url("../img/decor_rectangle.svg");
      background-repeat: no-repeat;

      @include below ($tablet-width) {
        display: none;
      }
    }

    &::before {
      left: -5%;
      transform: translateY(-30%);
    }

    &::after {
      right: -5%;
      transform: translateY(-190%);
    }
  }

  &:first-child::before {
    content: "";
    position: absolute;
    top: 30%;
    transform: translateX(-30%);
    width: 180px;
    height: 180px;
    background-image: url("../img/decor_ellipse.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @include below ($tablet-width) {
      width: 160px;
      height: 163px;
      top: 50%;
      transform: translateX(-28%);
    }
  }

  &:nth-child(3n)::after {
    content: "";
    position: absolute;
    top: -5%;
    right: 0;
    transform: translateX(20%);
    width: 95px;
    height: 95px;
    background-image: url("../img/decor_ellipse.svg");
    background-repeat: no-repeat;

    @include below ($tablet-width) {
      width: 68px;
      height: 68px;
    }
  }

  @include below ($tablet-width) {
    margin-right: 0;
    flex: 0 1 auto;
    margin-bottom: 40px;

    &:nth-child(2n) {
      margin-top: 0;
    }
  }

  img {
    border-radius: 0.625em;
    margin-bottom: 1.25em;

    &:hover {
      filter: grayscale(80%);
    }

    @include below ($tablet-width) {
      width: 270px;
      height: 300px;
      object-fit: cover;
    }
  }

  p {
    @include font-size (1.375em, 1.54, 600);
    margin: 0;
    color: $basic-black;
    margin: 0 auto;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include below ($tablet-width) {
      padding-left: 10px;
    }
  }
}
