.video {
  background-color: $basic-black-bg;
  max-height: 706px;
  margin-bottom: 250px;

  h2 {
    @include font-size (1.88em, 1.88em, 600);
    color: $basic-white;
    margin: 0;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;

    @include below ($tablet-width) {
      @include font-size (1.5em, 1.7, 600);
    }
  }

  p {
    @include font-size (1em, 1.75em, 300);
    width: 340px;
    color: $basic-white;
    opacity: 0.7;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 56px;
  }
}

.video__content-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.video__content {
  display: block;
  min-width: 929px;
  height: 522px;
  background-color: $basic-grey;
  background-image: url("../img/videoimg-desktop@1x.jpg");
  background-size: cover, 100%;
  background-repeat: no-repeat;
}

.video__play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: 0;
  background-image: url("../img/play-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: all 0.1s ease;
  }

  &:active {
    opacity: 0.8;
  }
}
