// Fonts
$primary-text: "OpenSans", "Arial", sans-serif;

// Color
$basic-light-blue: #0ad9c6;
$basic-dark: #1f1f1f;
$basic-black100: #48494d;
$basic-black200: #1c1c1c;
$basic-black-70: rgba(#000000, 0.7);
$basic-black-50: rgba(#000000, 0.5);
$basic-black-20: rgba(#141517, 0.2);
$basic-grey: #f6f6f6;
$basic-grey100: #c9ccd4;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-black-bg: #131314;
$basic-red: #f1463b;
$transparent: rgba($basic-black, 0);

$accent-color: $basic-light-blue;
$invalid-color: $basic-red;
$primary-text-color: $basic-black-70;

// Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
$tablet-width-only: 1023px;

//Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
